* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(34, 30, 30);
  color: white;
}

img {
  padding-top: 20px;
}

#search-btn {
  background-color: palevioletred;
}

.display-labels {
  font-weight: bold;
  font-style: oblique;
  font-size: 18px;
  text-align: center;
}

#glass-label {
  font-size: 20px;
}
